.flex-container-vert {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  height: 100%;
}

app-semester-view {
  flex: 70%
}

app-course-list {
  flex: 30%;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
}
