
div.course {
    padding: 10px 10px;
    line-height: 5px;
    margin: 8px;
    border: solid 1px #ccc;
    border-radius: 4px;
    cursor: move;
    font-size: 14px;
}

div.GE {
    background-color: #5dd3ff;
    color: white;
}
div.GE-major-required {
    background-color: #ff8040;
    color: white;
}
div.major-required {
    background-color: #ff7674;
    color: white;
}
div.major-elective {
    background-color: #a55bfd;
    color: white;
}
div.elective {
    background-color: #ffdf6a;
    color: white;
}
