<h2 style="text-align:center;">Pick your classes!</h2>
<div id="button-div">
    <button mat-raised-button (click)="openDialog()">Settings</button>
</div>


<!-- <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>Pick Major:</mat-grid-tile>
    <mat-grid-tile><button (click)="onClickEcon()" raised-button>Econ</button></mat-grid-tile>
    <mat-grid-tile><button (click)="onClickCS()" raised-button>CS</button></mat-grid-tile>
</mat-grid-list> -->

<mat-accordion>
    <mat-expansion-panel *ngFor="let t of types; let i = index;" (opened)="setOpened(i)" (closed)="setClosed(i)">
        <mat-expansion-panel-header>
            <mat-panel-title>
            {{ t }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list style="margin-left:30px;">
            <div *ngFor="let c of coursesByType[i]">
                <app-course [course]="c"></app-course>
            </div>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>


